<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Squads</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/app.js"></script>
</head>
<body>
<div class="nav-div">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/squads"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Squads</a></li>
</ul>
</div>