<% erb :'partials/_header' %>
<h1>Squad Information</h1>
<p>This WDI 16 squad:</p>
<ul>
  <li>Name: <%= @squad["name"]%></li>
  <li>Mascot: <%= @squad["mascot"]%></li>
</ul>
<a href="/squads/<%=@squad["squad_id"]%>/students">see students</a>  
<a href="/squads/<%=@squad["squad_id"]%>/edit">edit squad</a>  
<% erb :'partials/_footer' %>